.root {
  display: flex;
  align-items: center;
  gap: var(--st-space-2);
  flex-wrap: wrap;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}
