.root {
  flex-shrink: 0;
  border: none;
  background-color: var(--st-color-border);
}

/* ─── Horizontal ─── */

.horizontal {
  width: 100%;
  height: 1px;
}

/* ─── Vertical ─── */

.vertical {
  align-self: stretch;
  width: 1px;
}
