.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sb-expanded-width, 240px);
  height: 100%;
  background-color: var(--st-color-surface);
  border-right: 1px solid var(--st-color-border);
  transition: width var(--st-transition-slow);
  overflow: hidden;
}

.collapsed {
  width: var(--sb-collapsed-width, 64px);
}
